---
title: ¿Quiénes somos?
---

<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>


<div style="text-align: right">
<strong>Los Zines o Fanzines son publicaciones independientes, artesanales y rebeldes</strong>
</div>
<p><br></p>
<p>Farolito Zine somos un colectivo de científic<!-- --><span class="citation">@s</span> (y otras cosas) que decidimos hacer un fanzine para difundir el conocimiento científico entre la población. Actualmente estamos rodeados de muchos medios y recursos digitales, sin embargo, vivimos en una era de desinformación. Creemos que la ciencia puede combatir esta desinformación, y ayudarnos a reflexionar sobre nuestra vida, conocer y mejorar nuestro mundo.</p>
<p>Impresionados por el universo de posibilidades que son los zines, empezamos Farolito Zine en el 2020. Trabajamos con muchas ganas para tratar de hacer una publicación trimestral. Cada uno de nuestros volúmenes aborda(rá) un tema diferente, en especial relacionado con la naturaleza y los seres vivos, pasando por la biodiversidad, el desarrollo sostenible, la crisis ambiental, nuevos hallazgos de la ciencia y otros temas muy interesantes.</p>
<p>No dudes en contactarnos si tienes comentarios, deseas compartir ideas, sugerir temas, o colaborar con nosotros.</p>
<div id="de-dónde-viene-el-nombre-farolito" class="section level1">
<h1>¿De dónde viene el nombre “Farolito”?</h1>
<p>En el Desierto Sonorense habitan algunas especies de plantas a las cuáles la gente se refiere comúnmente con el nombre de “Farolito” por la forma de sus frutos. Estas pertenecen al genero <em>Cardiospermum</em>, como <em>Cardiospermum corindum</em> o <em>Cardiospermum halicacabum</em>. Es una especie bastante bonita. Aquí abajo puedes ver algunas fotos de ella, y su fruto y sus flores aparecen en nuestro logo.</p>
<p><img src="/images/farolito1_72.JPG" style="width:50.0%" /></p>
<p><img src="/images/farolito2_72.JPG" style="width:50.0%" /></p>
<p><img src="/images/farolito3_72.JPG" style="width:50.0%" /></p>
</div>
