---
title: Farolito somos...
---

<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>


<p><img src="/images/integrantes_transp_72.png" /></p>
<ul>
<li><p>Ana Karen Bustamante Icedo - Investigación y manejo de redes sociales</p></li>
<li><p>Carlos Manuel Valdez Coronel - Ilustración</p></li>
<li><p>Carolina Trujillo López - Investigación</p></li>
<li><p>César Hinojo Hinojo - Investigación</p></li>
<li><p>José Emilio Lopez Piña - Investigación e Ilustración</p></li>
<li><p>Lara Alejandrina Cornejo Denman - Investigación</p></li>
<li><p>Martín Centeno Vejines - Ilustración</p></li>
<li><p>Los encargados de investigación se encargan de la revisión bibliográfica, selección de contenido y redacción</p></li>
</ul>
<div id="colaboradores" class="section level1">
<h1>Colaboradores</h1>
<ul>
<li>Esteban Bernabé Valenzuela Cuén - Poeta</li>
<li>Dalila Mar - Artista plástica</li>
</ul>
</div>
